body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	color: #666;
}

.main {
	padding: 50px 25px 25px;
}

.container-narrow {
	width: 700px;
	margin: auto;
	position: relative;
}

h1, h2, p {
	text-align: center;
}

.content{
	position: relative;
}

form {
	font-size: 16px;
  	height: auto;
  	margin: auto;
  	padding: 8px 10px;
  	border: 3px solid #999;
  	border-radius: 3px;
}

form > div {
	padding: 10px 0;
	width: 400px;
}

form .row {
	width: auto;
	margin-left: 60px;
}

label {
	text-align: right; 
	display: inline-block;
	width: 280px;
}

input {
	box-sizing: border-box;
	width: 250px;
	margin-left: 30px;
}

.columns {
	display: inline;
}

.link-input div{
	display: inline;
}

.radio-list label {
    display:inline-block;
    padding: 4px 10px;
}

#other{
	margin-left: 20px
}

button {
	margin: 25px 215px;
	padding: 10px;
	background-color: #bbb;
	opacity: 0.6;
	border-radius: 5px;
	font-size: 16px;
}

.errormsg {
	display: none;
	color: red;
	text-align: center;
}

nav {
	margin: 50px;
	text-align: center;
}
